<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Watch Social</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.0/css/all.css" integrity="sha384-eLT4eRYPHTmTsFGFAzjcCWX+wHfUInVWNm9YnwpiatljsZOwXtwV2Hh6sHM6zZD9" crossorigin="anonymous">
</head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">WatchSocial</a>
        </h1>
        <nav>
          <a href="/">home</a>
          {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        &copy;2022 by WatchSocial
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

<script src="https://kit.fontawesome.com/803b81f400.js" crossorigin="anonymous"></script>
</html>