<section>
  <label for="movie-search">Search for a Movie</label>
  <input type="text" id="movie-search" name="movie-search">
  <button id="searchMovie">Search</button>
  <div id="movielist"></div>
</section>

<section>
  <h2>New Movie Review</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" readonly='true'/>
      <label for="movie-year">Year</label>
      <input type="text" id="movie-year" name="movie-year" readonly='true'/>
    </div>
    <div class="rating" name="rating">
         <i class="rating__star far fa-star" data-rating="1"></i>
         <i class="rating__star far fa-star" data-rating="2"></i>
         <i class="rating__star far fa-star" data-rating="3"></i>
         <i class="rating__star far fa-star" data-rating="4"></i>
         <i class="rating__star far fa-star" data-rating="5"></i>
    </div>
    <div>
      <label for="post-text">Your Review</label>
      <textarea id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if comments.length}}
<section>
  <h2>Your Comments</h2>
  <ol>
    {{#each comments as |comment|}}
    <li>
      {{!-- ?????????????? --}}
      {{> post-info comment}}
      <a href="/dashboard/edit/{{comment.id}}" class="edit-link">Edit comment</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/movie-search.js"></script>
<script src="/javascript/rating.js"></script>