<section>
  <h2>Create a New Movie Review</h2>

  <section>
    <label for="movie-search">Search for a Movie:</label>
    <input type="text" id="movie-search" name="movie-search">
    <button id="searchMovie">Search</button>
    <div id="movielist"></div>
  </section>

  <form class="new-post-form">
    <div>
      <h8 id="movie-title"></h8>
      <img id="movie-poster" src="https://images.unsplash.com/photo-1560109947-543149eceb16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
    </div>
    <div class="rating" name="rating">
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
    </div>
    <div>
      <textarea id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" class="button">Create</button>
  </form>
</section>

{{#if comments.length}}
<section>
  <h2>Your Reviews</h2>
  <ol class="post-list">
    {{#each comments as |comment|}}
    <li>
      {{> post-info comment}}
      <a href="/dashboard/edit/{{id}}" class="edit-link">Edit Review</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/movie-search.js"></script>
<script src="/javascript/rating.js"></script>