<section>
  <label for="movie-search">Search for a Movie</label>
  <input type="text" id="movie-search" name="movie-search">
  <button id="searchMovie">Search</button>
  <div id="movielist"></div>
</section>

<section>
  <h2>New Movie Review</h2>

  <form class="new-post-form">
    <div>
      <h8 id="movie-title"></h8>
      <img id="movie-poster" src="https://images.unsplash.com/photo-1560109947-543149eceb16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
    </div>
    <div class="rating" name="rating">
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
    </div>
    <div>
      <label for="post-text">Your Review</label>
      <textarea id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if comments.length}}
<section>
  <h2>Your Comments</h2>
  <ol>
    {{#each comments as |comment|}}
    <li>
      {{!-- ?????????????? --}}
      {{> post-info comment}}
      <a href="/dashboard/edit/{{comment.id}}" class="edit-link">Edit comment</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/movie-search.js"></script>
<script src="/javascript/rating.js"></script>