{{#if comments.length}}
<section class="w-100">
  <h2 class="text-center display-4">Your Review Board</h2>
  <div class="post-list row">
    {{#each comments as |comment|}}
      {{> movie-card comment}}
    {{/each}}
  </div>
</section>
{{/if}}

<div
  class="modal fade"
  id="movieReview"
  tabindex="-1"
  aria-labelledby="movieReviewLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="movieReviewLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
 <form class="new-post-form d-flex flex-column justify-content-around align-items-center p-3">
    <div>
      <img id="movie-poster" src="" alt=""/>
          <div class="rating" name="rating">
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
    </div>
    </div>
    <div>
      <textarea class="w-100" id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" class="button">Review This Movie!!!</button>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal">Choose Another Movie Instead</button>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/rating.js"></script>