<section class="p-3 text-center">
  <h2>&#8595 Search for a new movie to review right here &#8595</h2>

  <section class="m-3 text-center">
    <label for="movie-search">Search for a Movie:</label>
    <input type="text" id="movie-search" name="movie-search">
    <button id="searchMovie">Search</button>
    <div id="movielist"></div>
    <div id="try-again"></div>
  </section>
</section>

{{#if comments.length}}
<section class="">
  <h2 class="">Your Review Board</h2>
  <ol class="post-list d-flex">
    {{#each comments as |comment|}}
      {{> movie-card comment}}
    {{/each}}
  </ol>
</section>
{{/if}}

<div
  class="modal fade"
  id="movieReview"
  tabindex="-1"
  aria-labelledby="movieReviewLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="movieReviewLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
 <form class="new-post-form">
    <div>
      {{!-- <h8></h8> --}}
      <img id="movie-poster" src="https://images.unsplash.com/photo-1579642761360-eabd1cca1e81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    </div>
    <div class="rating" name="rating">
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
    </div>
    <div>
      <textarea id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" class="button">Review This Movie!!!</button>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal">Choose Another Movie Instead</button>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/movie-search.js"></script>
<script src="/javascript/rating.js"></script>