<div class="container">
  <div class="row">
    <h2 class="text-center">Edit Your Movie Review</h2>
      
      <h6 class="text-center">{{comment.movie.title}}</h6>
      <div class="d-flex justify-content-center">
        <div class="rating" name="rating">
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
        </div>
      </div>

      <div class="d-flex justify-content-center"><img src="{{comment.movie.poster}}" alt="" /></div>
      
      <p class="text-center">{{comment.comment_text}}</p>
      
      <div class="d-flex justify-content-center">
        <textarea id="comment-text"  class="mb-2"></textarea>
      </div>

      <div class="d-flex justify-content-center">
        <button type="button" class="save-post-btn col-md-4 col-sm-10 mb-2">Save Post</button>
      </div>

      <div class="d-flex justify-content-center">
                <button type="button" class="delete-post-btn col-md-4 col-sm-10 ">Delete Post</button>
      </div>
  </div>
</div>

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/rating.js"></script>