<h1>WatchSocial</h1>
<h4 class="text-center">...where everyone's a critic</p>


<div class="carouselContainer row">
  <div class="carousel col-md-4">
    {{#each movies as |movie|}}
      <div
        class="carousel__face"
        style="background-image: url({{poster}});"
      ></div>
    {{/each}}
  </div>
</div>