<h1 class="display-4 text-center">WatchSocial</h1>
<p class="text-center">Catchphrase about the Website</p>

<ol class="d-flex flex-wrap justify-content-between">
  {{#each movies as |movie|}}
    <div>
      <a href="/movie/{{id}}"><h3>{{title}}</h3></a>
      <img src="{{poster}}" class="w-10 h-10 border border-warning"/>
    </div>
  {{/each}}
</ol>