<h1>WatchSocial</h1>
<h4 class="text-center">...where everyone's a critic</p>

{{!-- <ol class="d-flex flex-wrap justify-content-between">
  {{#each movies as |movie|}}
    <div class="movie-card">
  <img
    src="{{poster}}"
    class=""
  ></img>
  <div class="movie-name">{{title}}</div>
  <div class="movie-review"><a href="/movie/{{id}}">Check out reviews</a></div>
</div>
  {{/each}}
</ol> --}}

<div class="carouselContainer">
  <div class="carousel">
    {{#each movies as |movie|}}
      <div
        class="carousel__face"
        style="background-image: url({{poster}});"
      ></div>
    {{/each}}
  </div>
</div>