<section class="p-3 text-center">
  <h2>&#8595 Search here to Review a Movie &#8595</h2>

  <section class="m-3 text-center">
    <div class="mb-3">
      <input type="text" id="movie-search" name="movie-search">
      <button id="searchMovie">Search</button>
    </div>
    <div class="userCardContainer w-100" id="movielist">
      <h3 class="text-center w-100">&#8593 Search here to Review a Movie &#8593</h3>
    </div>
    <div id="try-again">
  </section>
</section>

<script src="/javascript/movie-search.js"></script>
<script src="/javascript/add-post.js"></script>
<script src="/javascript/rating.js"></script>