<section class="w-100">
  <div class="container">
  <div class="post-list row">
{{#each comments as |comment|}}
{{!-- {{log movie}} --}}
      {{> user-card comment}}
  {{/each}}
    </div>
  </div>
</section>