<div class="d-flex flex-column align-items-center">
  <h1 class="text-decoration-underline">{{movie.title}}</h1>
  <img src="{{movie.poster}}" class="w-20" alt="" />
</div>

{{#if loggedIn}}
  <ol>
    {{#each movie.comments as |comment|}}
      <li>
        {{comment.comment_text}}
        {{#times comment.movie_rating}}
          <i class="rating__star fas fa-star"></i>
        {{/times}}
      </li>
    {{/each}}
  </ol>
{{/if}}