<h2>{{movie.title}}</h2>
<img src="{{movie.poster}}" alt="" />

{{#if loggedIn}}
  <ol>
    {{#each movie.comments as |comment|}}
      <li>
        {{comment.comment_text}}
        {{comment.movie_rating}}
      </li>
    {{/each}}
  </ol>
{{/if}}