<section class="w-100">
  <h2 class="text-center display-4">@{{user.username}}'s Review Board</h2>
  <div class="container">
  <div class="post-list row">
    {{#each user.comments as |comment|}}
      {{> movie-card comment}}
    {{/each}}
    </div>
  </div>
</section>


